<nav class="navbar navbar-dark bg-dark">

   <div>
      <h5>Message Board</h5>
   </div>

   <div>
      <input size="60" type="text" placeholder="Search"/>
      <button type="button" class="btn btn-secondary">New post</button>
   </div>

   <div>
      <label>Start Date</label>
      <input type="datetime-local" id="start-time" [formControl]="start" min="2020-01-01T00:00"/>
   </div>

   <div>
      <label>End Date</label>
      <input type="datetime-local" id="end-time" [formControl]="end" min="2020-01-01T00:00"/>
      <button (click)="findPostByDateRange()"type="button" class="btn btn-secondary"> Filter </button>
      <button (click)="findMyPosts()" type="button" class="btn btn-secondary"> View My Posts </button>
   </div>

   <div>      
      <app-login></app-login>
   </div>


</nav>




<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}} 
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <i class="fa fa-trash-o" aria-hidden="true"></i>

   </h6>   
   <p>
      {{post.message}}
   </p>      
   <p>
      asdhjhga
      asd asd 
      <br/><br/>
      <br/><br/>
      <br/><br/>
      asd 
      asd
   </p>
</div>

<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}}
   </h6>   
   <p>
      {{post.message}}
   </p> 
</div>











<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}}
   </h6>   
   <p>
      {{post.message}}
   </p> 
</div>
<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}}
   </h6>   
   <p>
      {{post.message}}
   </p> 
</div>

<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}}
   </h6>   
   <p>
      {{post.message}}
   </p> 
</div>

<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}}
   </h6>   
   <p>
      {{post.message}}
   </p> 
</div>

<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}}
   </h6>   
   <p>
      {{post.message}}
   </p> 
</div>