<nav class="navbar navbar-dark bg-dark">

   <div>
      <h5>Message Board</h5>
   </div>

   <div>
      <input size="60" type="text"  [formControl]="hashTags"/>
      <button (click)="findByHashTag()" type="button" class="btn btn-secondary">Find By Tag</button>
   </div>

   <div>
      <label>Start Date</label>
      <input type="datetime-local" id="start-time" [formControl]="start" min="2020-01-01T00:00"/>
   </div>

   <div>
      <label>End Date</label>
      <input type="datetime-local" id="end-time" [formControl]="end" min="2020-01-01T00:00"/>
      <button (click)="findPostByDateRange()" type="button" class="btn btn-secondary"> Filter </button>
      <button (click)="findMyPosts()" type="button" class="btn btn-secondary"> View My Posts </button>
   </div>


   <div>      
      <app-login></app-login>
   </div>


</nav>



<div class="createPost"><button onclick="location.href='/assets/pages/post-create.html'" type="button" class="btn btn-primary"> Create Post </button></div>

<h4> Welcome {{state.userId}} </h4>

<div class="card" *ngFor="let post of currentPosts">
   <h6>
      {{post.title}} - {{post.userId}} - {{post.group}}
            <span class="iconsPosition">
               <span *ngIf="showControls(post)">
                  <i (click)="setEditPost(post)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <i (click)="deletePost(post.id)" class="fa fa-trash-o" aria-hidden="true"></i>
               </span>
                  <i *ngIf="post.hasAtt" (click)="downloadAttachments(post.id)" class="fa fa-download" aria-hidden="true"></i>
                  <i (click)="downloadXML(post.id)" class="fa fa-code" aria-hidden="true"></i>
            </span>
   </h6>   
   <p>
      {{post.message}}
   </p>      
   
</div>
