
    <div class="card">
<div *ngIf="!state.isLoggedIn; else elseBlock">
    <h3>Messaging Board</h3><br>
<div>
    <label> Username: <br><input size="30" type="text" [formControl]="username"/> </label>
    <br>
    <label> Password: <br><input size="30" type="password" [formControl]="pwd"/> </label>
</div> 
    <br>
    <button class="btn btn-primary" (click)="login()">Login</button>
    <br>
    
    
</div>

<ng-template #elseBlock><button (click)="logoff()">Logoff</button></ng-template>
</div>

